<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="BOARD">

     <!-- 결과처리를 위한 map 설정  -->
     <resultMap id="BoardMap" type="com.spring.board.vo.BoardVo"> 
       <result property="bId"    	column="B_ID" javaType="string" />   
       <result property="mId"  	column="M_ID" javaType="string" />   
       <result property="bName"  	column="B_NAME" javaType="string" />   
       <result property="bConts"   column="B_CONTS" javaType="string" />   
       <result property="bDate"  	column="B_DATE" javaType="string" />   
       <result property="bCnt"   	column="B_CNT" javaType="int" />   
       <result property="bGubun"   	column="B_GUBUN" javaType="string" />   
     </resultMap>
   
     <select id="BoardList"
         statementType="CALLABLE" parameterType="hashmap" 
         resultType="com.spring.board.vo.BoardVo">
         {CALL  PKG_BOARD.PROC_BOARD_LIST(
            #{result, mode=OUT, jdbcType=CURSOR, 
               javaType=ResultSet, resultMap=BoardMap }
         ) }     
     </select>
      
       
             
  </mapper>        

