<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="FILM">

    <!--  결과처리를 위한 map 설정  -->
     <resultMap id="FilmMap" type="com.spring.film.vo.FilmVo"> 
       <result property="docId"    	column="DOC_ID" javaType="string" />   
       <result property="filmId"  	column="FILM_ID" javaType="string" />   
       <result property="filmSeq"  	column="FILM_SEQ" javaType="string" />   
       <result property="filmYear"   column="FILM_YEAR" javaType="string" />     
       <result property="filmPrice"   column="FILM_PRICE" javaType="string" />     
     </resultMap>
 
     <insert id="FilmInsert"
         statementType="CALLABLE" parameterType="hashmap" >
         {CALL  PKG_FILMS.PROC_FILMS_INSERT(
         	#{docId, mode = IN, jdbcType = VARCHAR},
         	#{filmId, mode = IN, jdbcType = VARCHAR},
         	#{filmSeq, mode = IN, jdbcType = VARCHAR},
         	#{filmYear, mode = IN, jdbcType = VARCHAR}

         ) }     
     </insert>
     
     <select id="FilmPrice"
     	statementType="CALLABLE" parameterType="hashmap" 
         resultType="com.spring.film.vo.FilmVo">
         {CALL PKG_FILMS.PROC_FILMS_PRICE(
         	#{docId, mode = IN, jdbcType = VARCHAR},
         	#{result, mode=OUT, jdbcType=CURSOR, 
               javaType=ResultSet, resultMap=FilmMap }   
         )}
     
     </select>
     
     
     
     
      
       
             
  </mapper>        

