<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="LIKE">

     <!-- 결과처리를 위한 map 설정  -->
     <resultMap id="LikeListMap" type="com.spring.likelist.vo.LikeVo"> 
       <result property="mId"            column="M_ID" javaType="string" />   
       <result property="docId"          column="DOC_ID" javaType="string" />   
       <result property="filmPrice"      column="FILM_PRICE" javaType="int" />   
       <result property="genre"          column="GENRE" javaType="string" />              
     </resultMap>
   
     <select id="LikeList"
         statementType="CALLABLE" parameterType="hashmap" 
         resultType="com.spring.likelist.vo.LikeVo">
         {CALL  PKG_LIKE.PROC_LIKE_LIST(
         	#{mId, mode=IN, jdbcType=VARCHAR},
            #{result, mode=OUT, jdbcType=CURSOR, 
               javaType=ResultSet, resultMap=LikeListMap }
         ) }     
     </select>
     
     <select id="LikeGenreList"
         statementType="CALLABLE" parameterType="hashmap" 
         resultType="com.spring.likelist.vo.LikeVo">
         {CALL  PKG_LIKE.PROC_LIKE_GENRELIST(
         	#{mId, mode=IN, jdbcType=VARCHAR},
            #{result, mode=OUT, jdbcType=CURSOR, 
               javaType=ResultSet, resultMap=LikeListMap }
         ) }     
     </select>
     
     <insert id = "LikeInsert" parameterType="hashmap">
 		{CALL PKG_LIKE.PROC_LIKE_INSERT(
 			#{mId, mode=IN, jdbcType = VARCHAR},
 			#{docId, mode = IN, jdbcType = VARCHAR},
 			#{genre, mode = IN, jdbcType = VARCHAR}
 		
 		)}
 		    
     </insert>

     <delete id="Delete"
     	statementType="CALLABLE" parameterType="hashmap">
         {CALL  PKG_LIKE.PROC_LIKE_DELETE(
         	#{mId, mode=IN, jdbcType=VARCHAR},
            #{filmId, mode=IN, jdbcType=VARCHAR}
         ) }       	
     
     </delete>
     
     <select id = "getLikeChk"
		statementType="CALLABLE" parameterType="hashmap" 
		resultType="com.spring.likelist.vo.LikeVo">    
         
		SELECT nvl(max(LIKECHK), 'null') AS LIKECHK FROM LIKELIST 
		WHERE M_ID = #{mId}
		AND DOC_ID = #{docId}

     </select>
  </mapper>        
