<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="REVIEW">

     <!-- 결과처리를 위한 map 설정  -->
     <resultMap id="RevListMap" type="com.spring.review.vo.RevVo">
       <result property="revIdx"       column="REV_IDX" javaType="int" /> 
       <result property="mId"          column="M_ID" javaType="string" />   
       <result property="docId"        column="DOC_ID" javaType="string" />   
       <result property="revTitle"     column="REV_TITLE" javaType="string" />   
       <result property="revConts"     column="REV_CONTS" javaType="string" />   
       <result property="grdScore"     column="GRD_SCORE" javaType="java.lang.Double" />   
       <result property="grdConts"     column="GRD_CONTS" javaType="string" />
       <result property="goodCnt"      column="GOOD_CNT" javaType="int" />
       <result property="badCnt"       column="BAD_CNT" javaType="int" />
       <result property="revDate"      column="REV_DATE" javaType="string" />
       <result property="revGubun"     column="REV_GUBUN"  />
       <result property="revLvl"       column="REV_LVL" javaType="int" />
       <result property="parentIdx"    column="PARENT_IDX" javaType="int" />  
       <result property="revNref"      column="REV_NREF" javaType="int" />
              
	   <result property="symId"      column="SYM_ID" javaType="string" />              
       <result property="symGubun"      column="SYM_GUBUN" />               
     </resultMap>
   
     <select id="GrdList"
         statementType="CALLABLE" parameterType="hashmap" 
         resultType="com.spring.review.vo.RevVo">
         {CALL  PKG_REV.PROC_GRD_LIST(
         	#{docId, mode=IN, jdbcType=VARCHAR},
            #{result, mode=OUT, jdbcType=CURSOR, 
               javaType=ResultSet, resultMap=RevListMap }
         ) }     
     </select>
     
     <select id="RevList"
         statementType="CALLABLE" parameterType="hashmap" 
         resultType="com.spring.review.vo.RevVo">
         {CALL  PKG_REV.PROC_REV_LIST1(
         	#{docId, mode=IN, jdbcType=VARCHAR},
         	#{revIdx, mode=IN, jdbcType=NUMERIC},
         	#{revLvl, mode=IN, jdbcType=NUMERIC},
         	#{mId, mode=IN, jdbcType=VARCHAR},         	        	
         	
            #{result, mode=OUT, jdbcType=CURSOR, 
               javaType=ResultSet, resultMap=RevListMap },
			#{oCnt, mode=OUT, jdbcType=VARCHAR}               
         ) }     
     </select>
     
     <select id="RevList2"
         statementType="CALLABLE" parameterType="hashmap" 
         resultType="com.spring.review.vo.RevVo">
         {CALL  PKG_REV.PROC_REV_LIST2(         	
         	#{revIdx, mode=IN, jdbcType=NUMERIC},
         	#{revLvl, mode=IN, jdbcType=NUMERIC},
         	#{mId, mode=IN, jdbcType=VARCHAR},
            #{result, mode=OUT, jdbcType=CURSOR, 
               javaType=ResultSet, resultMap=RevListMap }
         ) }     
     </select>     
     
     <insert id="GrdInsert" statementType="CALLABLE" 
        parameterType="hashmap" >
         {CALL  PKG_REV.PROC_GRD_INSERT(         	
         	#{mId, mode=IN, jdbcType=VARCHAR},         	
            #{docId, mode=IN, jdbcType=VARCHAR},
            #{grdScore, mode=IN, jdbcType=NUMERIC},
            #{grdConts, mode=IN, jdbcType=VARCHAR}
         ) }		     
     </insert>
     
     <insert id="RevInsLvl1" statementType="CALLABLE" 
        parameterType="hashmap" >
         {CALL  PKG_REV.PROC_INS_REVLVL1(         	
         	#{mId, mode=IN, jdbcType=VARCHAR},         	
            #{docId, mode=IN, jdbcType=VARCHAR},
            #{revIdx, mode=IN, jdbcType=NUMERIC},
            #{revConts, mode=IN, jdbcType=VARCHAR}
         ) }		     
     </insert>

     <insert id="RevInsLvl2" statementType="CALLABLE" 
        parameterType="hashmap" >
         {CALL  PKG_REV.PROC_INS_REVLVL2(         	
         	#{mId, mode=IN, jdbcType=VARCHAR},         	
            #{docId, mode=IN, jdbcType=VARCHAR},
            #{revIdx, mode=IN, jdbcType=NUMERIC},
            #{revConts, mode=IN, jdbcType=VARCHAR}
         ) }		     
     </insert>         
     
               
     
    <select id="RevConts"
         statementType="CALLABLE" parameterType="hashmap" 
         resultType="com.spring.review.vo.RevVo">
         {CALL  PKG_REV.PROC_REV_CONTS(
         	#{revIdx, mode=IN, jdbcType=NUMERIC},
            #{result, mode=OUT, jdbcType=CURSOR, 
               javaType=ResultSet, resultMap=RevListMap }
         ) }     
     </select>
 
      <insert id="SymInsert" statementType="CALLABLE" 
        parameterType="hashmap" >
         {CALL  PKG_REV.PROC_SYM_INSERT(         	
         	#{revIdx, mode=IN, jdbcType=NUMERIC},         	
            #{mId, mode=IN, jdbcType=VARCHAR},
            #{sGubun, mode=IN}            
         ) }		     
     </insert>
 
 
     <select id="Chart"
         statementType="CALLABLE" parameterType="hashmap" 
         resultType="com.spring.review.vo.RevVo">
         {CALL  PKG_CHART.PROC_CHART_AGE(
         	#{docId,  mode=IN, jdbcType=VARCHAR},
            #{result, mode=OUT, jdbcType=CURSOR, 
               javaType=ResultSet, resultMap=RevListMap }
         ) }     
     </select>
             
  </mapper>        
